<!doctype html>
<html>
<title>Freelancer's friend</title>
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<div class="container-fluid" >

    <div class="row">

        <div class="col-md-12">

            <h1 class="text-center">
                Freelancer's friend
            </h1>

            <h3 class="text-center">
                List of Python offers from sites like freelancer.com, guru.com, polish Python forums
            </h3>

        </div>

    </div>


    <div class="row">

        <div class="col-md-12">
            <div class="table-responsive">


            <table class="table table-condensed table-stripped">

            <thead>
                <tr>
                    <th> Title </th>
                    <th> Description</th>
                    <th> Portal </th>
                    <th> Added </th>
                </tr>
            </thead>
            
            <tbody>
                {% for offer in offers %}
                <tr>
                    <td><a href="{{ offer.url}}" target="blank" >{{ offer.title}}</a></td>
                    <td> {{ offer.description|safe}} </td>
                    <td> {{ offer.source}} </td>
                    <td> {{ offer.added}} </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

            </div>
        
        </div>

    </div>

</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67807029-1', 'auto');
    ga('send', 'pageview');

</script>

</body>
<style>
th {
} 
</style>
</html>
